@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #081e3f;
  --primary: #081e3f;
  --secondary: #fed102;
  --accent: #8d9ebc;
  --text-primary: #081e3f;
  --text-secondary: #ffffff;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #081e3f;
    --foreground: #ffffff;
    --primary: #081e3f;
    --secondary: #fed102;
    --accent: #8d9ebc;
    --text-primary: #ffffff;
    --text-secondary: #081e3f;
    --black: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
